body {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

canvas {
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&.-fullScreen {
		width: 100%;
		height: 100%;
	}
}

.popup-3d {
	display: none;
	color: yellow;
	font-family: 'Pacifico', cursive;
	font-size: 10rem;
	pointer-events: none;
}

.nav {
	position: absolute;
	z-index: 10;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;

	a {
		font-size: 14px;
		color: white;
		margin-left: 10px;
		font-family: sans-serif;

		&:hover,
		&.-active {
			text-decoration: none;
		}
	}
}

.msContainer {
	position: absolute;
	z-index: 1000;
	top: 10px;
	left: 10px;
	width: 250px;
	background: white;
	border-radius: 9px;
	padding: 10px;

	&.-closed {
		height: 10px;
		width: 10px;
	}

	&.-closed .message {
		display: none;
	}

	.message {
		font-family: sans-serif;
		font-size: 14px;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}